body {
	background-color:#fff;
	font-family:lato,sans-serif;
	font-size:14px;
	text-align:center;
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	user-select:none
}
#midi-selector {
	margin-top:10px;
	padding:5px;
	font-size:14px;
	font-family:lato,sans-serif
}
.hidden {
	display:none
}
.focus {
	position:absolute;
	margin:auto;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:800px;
	height:450px;
	background-repeat:no-repeat
}
.tap {
	visibility:hidden;
	display:block;
	position:absolute;
	margin:auto;
	background:rgba(0,0,0,.45);
	width:200px;
	height:200px;
	border-radius:5px
}
.tap span {
	display:block;
	position:relative;
	font-size:60px;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:#fff
}
.minitap {
	visibility:inherit;
	position:relative!important;
	display:inline-block;
	width:125px;
	height:125px;
	margin:5px
}
#play-midi {
	bottom:15%;
	left:40%;
	transform:translate(0%,-50%)
}
#bongo-left {
	top:43%;
	left:2%;
	transform:translate(0%,-50%)
}
#bongo-right {
	top:43%;
	right:2%;
	transform:translate(0%,-50%)
}
#cymbal-left {
	top:57%;
	left:2%;
	transform:translate(0%,-50%)
}
#meow {
	top:57%;
	right:2%;
	transform:translate(0%,-50%)
}
#piano-keys {
	width:680px!important;
	background:0 0!important;
	top:2%;
	left:50%;
	transform:translate(-50%,0%)
}
#marimba-keys {
	width:680px!important;
	background:0 0!important;
	bottom:2%;
	left:50%;
	transform:translate(-50%,-50%)
}
#bongo {
	background-image:url(./bongo.png)
}
#keyboard {
	background-image:url(./keyboard.png);
	visibility:hidden
}
#cymbal {
	background-image:url(./cymbal.png);
	visibility:hidden
}
#marimba {
	background-image:url(./marimba.png);
	visibility:hidden
}
#mouth {
	background-image:url(./m1.png)
}
#lpaw {
	background-image:url(./l1.png)
}
#rpaw {
	background-image:url(./r1.png)
}
footer {
	position:absolute;
	margin:auto;
	bottom:1%;
	left:50%;
	transform:translate(-50%,0%)
}

/* Mini bongo cats */
#midi-channels {
	position:relative;
	width:800px;
	height:450px;
}
.mini-cat {
	position:relative;
	width:80px;
	height:80px
}
.mini-cat > * {
	position:absolute;
	width:80px;
	height:80px;
	/*background-size:cover;*/
	background-size:150%;
	background-position:center;
	background-repeat:no-repeat
}
.mini-label {
	position:absolute;
	top:-18px;
	left:50%;
	transform:translateX(-50%);
	font-size:11px;
	font-weight:bold;
	white-space:nowrap
}
.mini-bongo {
	background-image:url(./bongo.png);
}
.mini-keyboard {
	background-image:url(./keyboard.png);
}
.mini-marimba {
	background-image:url(./marimba.png);
}
.mini-cymbal {
	background-image:url(./cymbal.png);
}
.mini-lpaw {
	background-image:url(./l1.png)
}
.mini-rpaw {
	background-image:url(./r1.png)
}
.mini-mouth {
	background-image:url(./m1.png)
}
